doctype 5
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
        title Billy Bird
        link(href='../styles/material-fonts.css', rel='stylesheet')
        link(href='../styles/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='../styles/app.css', type='text/css', rel='stylesheet', media='screen,projection')

    body(style='background-color: rgb(245, 245, 245)')
        mixin loanItem(loan)
            li(data-uuid=loan.uuid, class=`${loan.status}_loan`)
                div(style='padding: 12px;')
                    span Сумма кредита: #{loan.amount}$
                    span(style='margin-left: 10px;') Процент: #{loan.percentage}%
                    span(style='margin-left: 10px;') Открыт: #{loan.date}
                    span(style='margin-left: 10px;') Срок кредита: #{loan.time} мес.
                    if loan.status == 'opened'
                        a.secondary-content
                            i.close-loan.material-icons(style='cursor: pointer') highlight_off
                        a.secondary-content.modal-trigger(href='#new_payment_modal', cuuid=loan.uuid)
                            i.add-payment.material-icons add
                each payment in loan.payments
                    .payments(name='payments')
                        .sub_item
                            span Сумма взноса: #{payment.amount}$
                            span.right Дата: #{payment.date}

        .row.center
            a.btn-floating.btn-large.modal-trigger.new-loan-btn(href='#new_loan_modal')
                i.material-icons add
            a.btn-floating.btn-large.modal-trigger.check-loan-btn(href='#check_loan_modal')
                i.material-icons visibility
            a.btn-floating.btn-large.go-search-btn(href='/')
                i.material-icons search

        ul.collection.with-header.loans-list(style='background: white; margin-bottom: 90px')
            li.collection-header
                .row#profile_uuid(data-uuid=profile.uuid, style='margin-bottom: 0')
                    .col
                        i.material-icons(style='color: #999; background-color: #eee; font-size: 10em; cursor: pointer') perm_identity
                    .col.s8
                        h4 #{profile.firstName} #{profile.lastName}
                        h4 #{profile.birthDate}
            each loan in loanList
                +loanItem(loan)
            else
                li(style='text-align: center; font-size: 2em; padding: 40px') Кредитная история пуста

        // check loan
        #check_loan_modal.modal.modal-fixed-footer
            h1.header.center(style='color: #585858') Можно дать кредит?
            form#check_loan
                .modal-content(style='height: initial')
                    .row
                        .input-field.col.s12
                            input#amount.validate(name='amount', type='text')
                            label(for='amount') Сумма кредита
                        .col.s12
                            .loan-check-result
                .modal-footer
                    button.btn(type='submit') Запросить

        // new loan
        #new_loan_modal.modal.modal-fixed-footer
            h1.header.center(style='color: #585858') Оформление кредита
            form#new_loan
                .modal-content(style='height: initial')
                    .row
                        .input-field.col.s12
                            input#credit_sum.validate(name='credit_sum', type='text')
                            label(for='credit_sum') Сумма кредита
                        .input-field.col.s12
                            input#percentage.validate(name='percentage', type='text')
                            label(for='percentage') Процентная ставка
                        .input-field.col.s12
                            input#time.validate(name='time', type='text')
                            label(for='time') Срок кредита
                .modal-footer
                    button.btn(type='submit') Оформить

        // new loan
        #new_payment_modal.modal.modal-fixed-footer
            h1.header.center(style='color: #585858') Взнос
            form#new_payment
                .modal-content(style='height: initial')
                    .row
                        .input-field.col.s12
                            input#payment_amount.validate(name='payment_amount', type='text')
                            label(for='payment_amount') Сумма взноса
                .modal-footer
                    button.btn(type='submit') Подтвердить

        script(src='/socket.io/socket.io.js')
        script(src='../scripts/jquery-2.1.1.min.js')
        script(src='../scripts/materialize.min.js')
        script(src='/scripts/srouter.js')
        script(src='/scripts/profile.js')
