doctype 5
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
        title Pizda govna
        link(href='../styles/material-fonts.css', rel='stylesheet')
        link(href='../styles/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='../styles/app.css', type='text/css', rel='stylesheet', media='screen,projection')

    body
        .row.center
            a.btn-floating.btn-large.modal-trigger.new-loan-btn(href='#new_loan_modal')
                i.material-icons add
            a.btn-floating.btn-large.modal-trigger.check-loan-btn(href='#check_loan_modal')
                i.material-icons visibility

        ul.collection.with-header(style='background: white')
            li.collection-header
                .row
                    .col.s4
                        img.ava(src=profile.img)
                    .col.s8
                        h4 #{profile.first_name} #{profile.last_name}
            each loan in loanList
                li(data-uuid=loan.id, class=`${loan.status}_loan`)
                    div(style='padding: 12px;')
                        span Сумма кредита: #{loan.amount}#{loan.currency}
                        span(style='margin-left: 10px;') Процент: #{loan.percentage}%
                        span(style='margin-left: 10px;') Открыт: #{loan.date}
                        span(style='margin-left: 10px;') Срок кредита: #{loan.time} мес.
                        if loan.active
                            a.secondary-content(href='#')
                                i.close-loan.material-icons highlight_off
                            a.secondary-content(href='#')
                                i.add-payment.material-icons add
                    .payments(name='payments')
                        .sub_item
                            span Сумма взноса: 3000$
                            span.right Дата: 21.07.2011
                        .sub_item
                            span Сумма взноса: 3000$
                            span.right Дата: 21.07.2011
                        .sub_item
                            span Сумма взноса: 3000$
                            span.right Дата: 21.07.2011
            else
                li No loans :~(

        #check_loan_modal(style='display: none')
            div
                form#eligibility_check
                    input#eligibility_check_amount(type='text')
                    button(type='submit') Zaprosit
                #eligibility_result

        // new loan
        #new_loan_modal.modal.modal-fixed-footer
            h1.header.center(style='color: #27839c') μst
            form#new_loan
                .modal-content
                    .row
                        .input-field
                            input#credit_sum.validate(name='credit_sum', type='text')
                            label(for='credit_sum') Сумма кредита
                        .input-field
                            input#percent.validate(name='percent', type='text')
                            label(for='percent') Процентная ставка
                        .input-field
                            input#time.validate(name='time', type='text')
                            label(for='time') Срок кредита
                .modal-footer
                    button.btn(type='submit') Создать

        script(src='/socket.io/socket.io.js')
        script(src='../scripts/jquery-2.1.1.min.js')
        script(src='../scripts/materialize.min.js')
        script(src='/scripts/srouter.js')
        script(src='/scripts/profile.js')
